<section class="sticky top-4 container mx-auto my-10 px-4 md:px-0">
  <!-- Header pour mobile avec un bouton pour afficher/masquer les filtres -->
  <div class="flex justify-between items-center bg-gray-100 p-4 rounded-lg shadow-md md:hidden">
    <h2 class="text-xl font-semibold">Bien trouvé</h2>
    <button (click)="toggleFilters()" id="filterToggle" class="text-gray-700 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
      <!-- Icône de menu (ouvrir) -->
      <!--
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path fill="currentColor" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z"/></svg>
      -->
    </button>
  </div>

  <!-- Search Filters : cachés par défaut sur mobile -->
  <div id="searchFilters" [ngClass]="{ 'hidden': !isFilterSearchVisible, 'block': isFilterSearchVisible }"
    class=" md:block bg-gray-100 p-6 rounded-lg shadow-md mt-4 md:mt-0">
    <h2 class="text-xl font-semibold mb-4">Filtrer les résultats</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Composant Emplacement -->
      <app-location-filter></app-location-filter>
      <!-- Composant Type de bien -->
      <app-type-filter></app-type-filter>
      <!-- Composant Loyer -->
      <app-price-filter></app-price-filter>
    </div>
    <button id="searchBtn" class="mt-4 w-full md:w-auto bg-[#BD2949] text-white p-2 rounded hover:bg-red-600">
      Rechercher
    </button>
  </div>
</section>
