<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <img src="{{apartment.image}}" alt="${property.title}" class="w-full h-48 object-cover" />
  <div class="p-4">
    <h3 class="text-lg font-semibold">{{apartment.title}}</h3>
    <p class="text-gray-600">${{apartment.location}}</p>
    <p class="text-gray-800 mt-2 font-bold">${{apartment.price}} €/mois</p>
    <a [routerLink]="[apartment.id]">
      <button class="mt-4 bg-[#BD2949] text-white p-2 rounded hover:bg-red-600">Voir détails</button>
    </a>
  </div>
</div>
